<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semi Restful TV Shows    </title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<div id="container">
    <form action="books/create" method="post">
        {% csrf_token %}
    </form>
    <h1>All Shows</h1>
    <table class="mytable">
        <th>ID</th>
        <th>Title</th>
        <th>Network</th>
        <th>Release Date</th>
        <th>Description</th>
        {% for show in allShows%}
        <tr>
            <td>{{show.id}}</td>
            <td>{{show.title}}</td>
            <td>{{show.network}}</td>
            <td>{{show.release_date}}</td>
            <td>{{show.desc}}</td>
            <td><a href="shows/{{show.id}}">View</a></td>
        </tr>
        {%endfor%}
    </table>
</div>
<body>
    
</body>
</html>