<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semi Restful TV Shows    </title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>

<div id="container">
    <form action="books/create" method="post">
        {% csrf_token %}
        <h2>Add a Book</h2>
        <label for="lname">Title:</label><br>
        <input type="text" id="title"" name="title">
        <label for="Desc">Description:</label>
        <textarea id="textArea" name="desc" rows="4" cols="50"></textarea>
        <button type="submit">Add</button>
    </form>
    <table class="mytable">
        <th>ID</th>
        <th>Title</th>
        <th>Action</th>
        {% for book in allBooks%}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td><a href="books/{{book.id}}">View</a></td>
        </tr>
        {%endfor%}
    </table>
</div>
<body>
    
</body>
</html>